<!DOCTYPE html>
<html lang="en">

<head>
    <!--meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Style CSS-->
    <link rel="stylesheet" href="../static/css/style.css">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">

    <!--Bootstrap JS-->
    <script src="../static/js/bootstrap.min.js"></script>

    <title>GetProAtDev | About</title>
</head>

<body>

    <h1>About</h1>
    <p>About my blog!</p>


</body>

</html>