{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!--meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Style CSS-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">

    <!--Bootstrap JS-->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <title>GetProAtDev | Articles</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">GetProAtDev</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                    <li>
                        <form action="{% url 'accounts:logout' %}" method="POST" class="logout-link">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    <li>
                        <a href="{% url 'articles:create' %}" class="login">New Article</a>
                    </li>
                    {% else %}

                    <li><a class="active" href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    <br><br><br> {% block content %} {% endblock %}
</body>

</html>